Repository microsoft/Agents, pull requests merged in 2025-07, with the labels that each got.

#215 Update samples README.md
  samples/README.md
Labels: Samples

#217 Enable nullable reference types and refactor code
  samples/basic/authorization/auto-signin/dotnet/AspNetExtensions.cs
  samples/basic/authorization/auto-signin/dotnet/AuthAgent.cs
  samples/basic/authorization/auto-signin/dotnet/AutoSignIn.csproj
  samples/basic/authorization/auto-signin/dotnet/Program.cs
  samples/basic/authorization/obo-authorization/dotnet/AspNetExtensions.cs
  samples/basic/authorization/obo-authorization/dotnet/OBOAuthorization.csproj
  samples/basic/authorization/obo-authorization/dotnet/Program.cs
  samples/basic/azureai-streaming-poem-agent/dotnet/AspNetExtensions.cs
  samples/basic/azureai-streaming-poem-agent/dotnet/Program.cs
  samples/basic/azureai-streaming-poem-agent/dotnet/StreamingAgent.cs
  samples/basic/azureai-streaming-poem-agent/dotnet/StreamingMessageAgent.csproj
  samples/basic/empty-agent/dotnet/AspNetExtensions.cs
  samples/basic/empty-agent/dotnet/EmptyAgent.csproj
  samples/basic/weather-agent/dotnet/Agents/WeatherForecastAgent.cs
  samples/basic/weather-agent/dotnet/Agents/WeatherForecastAgentResponse.cs
  samples/basic/weather-agent/dotnet/AspNetExtensions.cs
  samples/basic/weather-agent/dotnet/MyAgent.cs
  samples/basic/weather-agent/dotnet/Plugins/DateTimePlugin.cs
  samples/basic/weather-agent/dotnet/Plugins/WeatherForecast.cs
  samples/basic/weather-agent/dotnet/Program.cs
  samples/basic/weather-agent/dotnet/WeatherAgent.csproj
  samples/complex/copilotstudio-skill/dotnet/AspNetExtensions.cs
  samples/complex/copilotstudio-skill/dotnet/CopilotStudioEchoSkill.csproj
  samples/complex/copilotstudio-skill/dotnet/Program.cs
Labels: Samples

#227 Update settings.js file in webchat sample
  samples/basic/copilotstudio-webchat-react/README.md
  samples/basic/copilotstudio-webchat-react/src/settings.EXAMPLE.js
  samples/basic/copilotstudio-webclient/web/settings.TEMPLATE.js
Labels: Samples

#233 Add support for OpenAI model and update env.TEMPLATE for new API keys
  samples/basic/weather-agent/nodejs/README.md
  samples/basic/weather-agent/nodejs/env.TEMPLATE
  samples/basic/weather-agent/nodejs/src/myAgent.ts
Labels: Samples, From Fork

#234 fix lint issues
  .github/workflows/cd-samples.yml
  eslint.config.js
  package-lock.json
  package.json
  samples/.gitignore
  samples/.vscode/launch.json
  samples/.vscode/tasks.json
  samples/basic/azureai-streaming-poem-agent/nodejs/src/agent.ts
  samples/basic/cards/nodejs/src/cardMessages.ts
  samples/basic/copilotstudio-client/nodejs/src/index.ts
  samples/basic/copilotstudio-webchat-react/src/Chat.tsx
  samples/basic/weather-agent/nodejs/src/myAgent.ts
  samples/node-samples.code-workspace
Labels: Samples, Build Automation
